
@{
    ViewData["Title"] = "Empleados";
}

<div id="save-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-label" class="modal-title">o</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="modal-form" method="post" class="row">
                    <div id="modal-id-group" class="col-2 mb-2">
                        <label class="col-form-label mb-0">Id:</label>
                        <input id="id-input" class="form-control" name="Id" type="text" placeholder="?" contenteditable="false" required readonly>
                    </div>
                    <div class="col-10 mb-2">
                        <label class="col-form-label mb-0">Email:</label>
                        <input id="email-input" class="form-control" name="Email" type="email" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Nombre:</label>
                        <input id="nombre-input" class="form-control" name="Nombre" type="text" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Apellido:</label>
                        <input id="apellido-input" class="form-control" name="Apellido" type="text" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Cargo:</label>
                        <input id="cargo-input" class="form-control" name="Cargo" type="text" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Teléfono:</label>
                        <input id="telefono-input" class="form-control" name="Telefono" type="text" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary w-100" onclick="save()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<h1>Búsqueda de Empleados</h1>

<fieldset class="row mt-3">
    <form id="global-filter-form" method="post" class="col-md-9 col-12 row">
        <div class="col mb-2">
            <input id="global-filter" class="form-control" type="text" placeholder="Buscar..." onkeyup="renderGrid()">
        </div>
    </form>
    <div class="col row">
        <div class="col-6 mb-2">
            <button class="btn btn-danger w-100" onclick="resetGlobalFilter()">Limpiar</button>
        </div>
        <div class="col-6 mb-2">
            <button class="btn btn-success w-100" onclick="create()">Nuevo</button>
        </div>
    </div>
</fieldset>

<hr>

@*<div class="card w-auto d">
    <div class="card-header text-bg-dark">
        <h5 class="mb-0">Empleados</h5>
    </div>
    <div id="datatable-container" class="card-body d-flex justify-content-center w-100 p-0"></div>
</div>*@

<div id="datagrid"></div>

@section Scripts {
    <script src="~/js/empleado.js"></script>
}