
@{
    ViewData["Title"] = "Registro de Pagos";
}

<div id="save-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-label" class="modal-title">o</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="modal-form" method="post" class="row">
                    <div id="modal-id-group" class="col-2 mb-2">
                        <label class="col-form-label mb-0">Id:</label>
                        <input id="id-input" class="form-control" name="Id" type="text" placeholder="?" contenteditable="false" required readonly>
                    </div>
                    <div class="col-10 mb-2">
                        <label class="col-form-label mb-0">ReservaId:</label>
                        <input id="reservaId-input" class="form-control" name="ReservaId" type="email" contenteditable="false" required readonly>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Cliente:</label>
                        <input id="cliente-input" class="form-control" name="Cliente" type="text" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Vehículo:</label>
                        <input id="vehiculo-input" class="form-control" name="Vehiculo" type="text" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Fecha de Inicio de la Reserva:</label>
                        <input id="reservaFechaInicio-input" class="form-control" name="ReservaFechaInicio" type="date" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Fecha Final de la Reseva:</label>
                        <input id="reservaFechaFin-input" class="form-control" name="ReservaFechaFin" type="date" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Monto:</label>
                        <input id="monto-input" class="form-control" name="Monto" type="text" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Método de Pago:</label>
                        <input id="metodoPago-input" class="form-control" name="MetodoPago" type="text" required>
                    </div>
                    <div class="col-6 mb-2">
                        <label class="col-form-label mb-0">Fecha de Pago:</label>
                        <input id="fechaPago-input" class="form-control" name="FechaPago" type="date" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary w-100" onclick="save()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<h1>Registro de Pagos</h1> 

<fieldset class="row mt-3">
    <form id="global-filter-form" method="post" class="col-md-9 col-12 row">
        <div class="col mb-2">
            <input id="global-filter" class="form-control" type="text" placeholder="Buscar..." onkeyup="renderGrid()">
        </div>
    </form>
    <div class="col row">
        <div class="col-6 mb-2">
            <button class="btn btn-danger w-100" onclick="resetGlobalFilter()">Limpiar</button>
        </div>
        <div class="col-6 mb-2">
            <button class="btn btn-success w-100" onclick="create()">Nuevo</button>
        </div>
    </div>
</fieldset>

<hr>

<div id="datagrid"></div>

@section Scripts {
    <script src="~/js/pago.js"></script>
}