
@{
    ViewData["Title"] = "Index Pago";
}

<h1>Búsqueda de Pagos</h1>


<fieldset class="row mt-3">
    <form id="search-form" method="post" class="col-md-9 col-12 row">
        <div class="col-3 mb-2">
            <input id="email-input" class="form-control" name="cliente" type="text" placeholder="Cliente">
        </div>
        <div class="col-9 mb-2">
            <input id="name-input" class="form-control" name="vehiculo" type="text" placeholder="Vehículo">
        </div>
        <div class="col-9 mb-2">
            <input id="name-input" class="form-control" name="fechainicio" type="text" placeholder="Fecha Inicio">
        </div>
        <div class="col-3 mb-2">
            <input id="email-input" class="form-control" name="fechafin" type="text" placeholder="Fecha Fin">
        </div>
        <div class="col-9 mb-2">
            <input id="name-input" class="form-control" name="metodopago" type="text" placeholder="Método de Pago">
        </div>
        <div class="col-9 mb-2">
            <input id="name-input" class="form-control" name="pechapago" type="text" placeholder="Fecha de Pago">
        </div>
    </form>
    <div class="col row">
        <div class="col-6 mb-2">
            <button class="btn btn-primary w-100" onclick="search()">Buscar</button>
        </div>
        <div class="col-6 mb-2">
            <button class="btn btn-danger w-100" onclick="resetForm()">Limpiar</button>
        </div>
    </div>
</fieldset>

<hr>

<div id="datatable-container" class="d-flex justify-content-center w-100"></div>

<script src="~/js/reserva.js"></script>