#datagrid {
    height: 480px;
}

.ag-root-wrapper {
    border: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-out;
}

.ag-row.reserva-en-curso {
    background-color: #3f37;
}

.ag-row.reserva-finalizada {
    background-color: #3337;
}

.ag-row.reserva-atrasada {
    background-color: #f337;
}