
[data-theme="dark"] {
    --color-primary: #1e40af;
    --color-secondary: #4b5563;
    /* Otras variables CSS */
}

[data-theme="light"] {
    --color-primary: #60a5fa;
    --color-secondary: #e5e7eb;
    /* Otras variables CSS */
}



html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
